<!-- virtual-tour.html -->
<div class="virtual-tour">
    <div class="virtual-tour-slide active">
        <img src="{{ '/assets/images/cantina-1.jpg' | relative_url }}" alt="Vista della cantina tradizionale">
        <div class="virtual-tour-content">
            <h3>La Cantina Storica</h3>
            <p>Esplora gli ambienti dove il vino riposa e matura in botti di rovere centenarie</p>
        </div>
    </div>
    
    <div class="virtual-tour-slide">
        <img src="{{ '/assets/images/vigneti-1.jpg' | relative_url }}" alt="Vigneti al tramonto">
        <div class="virtual-tour-content">
            <h3>I Nostri Vigneti</h3>
            <p>Scopri i vigneti che si estendono sulle colline della Costa dei Trabocchi</p>
        </div>
    </div>
    
    <div class="virtual-tour-slide">
        <img src="{{ '/assets/images/degustazione-1.jpg' | relative_url }}" alt="Sala degustazione">
        <div class="virtual-tour-content">
            <h3>Sala Degustazione</h3>
            <p>Un ambiente elegante dove degustare i nostri vini in un'atmosfera accogliente</p>
        </div>
    </div>
    
    <div class="virtual-tour-slide">
        <img src="{{ '/assets/images/produzione-1.jpg' | relative_url }}" alt="Area di produzione">
        <div class="virtual-tour-content">
            <h3>La Produzione</h3>
            <p>Tecnologia moderna e tradizione si fondono nel processo di vinificazione</p>
        </div>
    </div>
</div>

<!-- Link CSS e JS -->
<link rel="stylesheet" href="{{ '/assets/css/virtual-tour.css' | relative_url }}">
<script src="{{ '/assets/js/virtual-tour.js' | relative_url }}"></script>